section{

    padding-top: 50px;

    padding-bottom: 50px;

    text-align: center;

}






}



.pink{

    color: rgb(151, 23, 151);

}



#putih, .putih{

    color: white;

}



.warning{

    color: rgb(235, 231, 23);

}



#pink{

    background-color: rgb(253, 234, 245);

}



p{

    font-size: 140%;



}



.line{

    width: 100px;

    height: 5px;

    color: darkorange;

    background-color: crimson;

    margin: auto;

    margin-top: 30px;

    border-radius: 5px

}



#four, #two{

    background-color: lavender;

}



.coret{

    text-decoration: line-through;

}



#five{

    background-color: rgb(9, 112, 216) ; 

    color: white;

    

}



.link{

    margin-top: 40px;

  }

  

  a{

    display: inline-block;

    color: #fff;

    font-size: 20px;



    background: #265;

    text-decoration: none;

  }

  

  a:hover{

    background: #487;

  }

  

  #clockdiv{

      font-family: sans-serif;

      color: #fff;

     

      font-weight: 100;

      text-align: center;

      font-size: 50px;

  }

  

  #clockdiv > div{

      margin-bottom: 10px;

      padding: 15px;

      background: rgb(231, 40, 98);

     

  }

  

  #clockdiv div > span{

      padding: 10px;

      border-radius: 10px;

      background: rgb(170, 5, 82);

      display: inline-block;

  }

  

  .smalltext{

      padding-top: 5px;

      font-size: 20px;

  }



#footer{

    background-color: #265;

    color: white;

}

    

#scroll{

    position: relative;

    background-color: rgb(255, 66, 104);

    color: white;

    border-radius: 30px;

    padding: 10px;

}



#icon-large{

    align-items: right;

    font-size: 80px;

    text-align: right;

   

}



.mtt-3{

    margin-top: -30px;

}

